<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
    <h3>Edit your Product</h3>
    <form method="POST" action="/products/<%= product._id %>?_method=PUT">
        <div class="mb-3">
        <lable for="title" class="form-lable">Enter title</lable>
       <input name="product[title]" 
       value="<%= product.title %>" 
       type="text"  
       class="form-control"
       />
    </div>
    <div class="mb-3">
        <lable for="description" class="form-lable">Enter description</lable>
       <textarea name="product[description]" 
       class="form-control"><%= product.description %>
    </textarea>
    </div>
    <div class="mb-3">
        <lable for="image" class="form-lable">Enter image</lable>
       <input name="product[image]" 
       value="<%= product.image %>" 
       type="text" 
       class="form-control"
       />
    </div>
    <div class="mb-3">
        <lable for="price" class="form-lable">Enter price</lable>
       <input name="product[price]" 
       value="<%= product.price %>"
        type="number" 
        class="form-control"
        />
    </div>
       <button class="btn btn-dark edit-btn">Edit</button>
    </form>
    </div>
</div>

